.courseheader {
    min-height: 240px;
    .course-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 240px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dash-panel {
        body:not(.editing) & {
            &.reveal {
                .dash {
                    display: flex !important;
                }
                .viewmorelink {
                    .viewmore-text {
                        display: none;
                    }
                    .viewless-text {
                        display: block;
                    }
                }
            }
            .dash {
                display: none;
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    display: flex;
                }
                &:nth-child(8) {
                    &~.viewmorelink {
                        display: flex;
                    }
                }
            }
            .viewmorelink {
                display: none;
                cursor: pointer;
                &:hover,
                &:focus {
                    .viewmore-inner {
                        background-color: rgba(255, 255, 255, 0.05);
                    }
                }
                .viewmore-inner {
                    min-height: 100px;
                }
                .viewless-text {
                    display: none;
                }
            }
        }
        .viewmorelink {
            body.editing & {
                display: none;
            }
        }
        &.quicklinks-wrap {
            background-color: darken($brand-primary, 5%);
            .dash-link {
                background-color: #fff;
                &:hover,
                &:focus {
                    background-color: darken(#fff, 5%);
                }
            }
        }
        &.activities-wrap {
            background-color: $brand-primary;
            .linkscontainer {
                ul.links {
                    .dash {
                        .dash-link {
                            background-color: #fff;
                            &:hover,
                            &:focus {
                                background-color: darken(#fff, 5%);
                            }
                        }
                    }
                }
            }
        }
        h2 {
            color: #fff;
        }
        .linkscontainer {
            ul.links {
                list-style: none;
                padding: 0;
                margin: -($spacer / 4);
                .dash {
                    padding: $spacer / 4;
                    .dash-link {
                        display: block;
                        min-height: 100px;
                        &:hover,
                        &:focus {
                            a {
                                color: $brand-primary;
                            }
                            .dash-move {
                                color: $brand-primary;
                                background-color: rgba(#000, 0.1);
                            }
                        }
                        a.dash-edit {
                            position: absolute;
                            bottom: $spacer / 2;
                            left: $spacer / 2;
                            display: flex;
                        }
                        .dash-move {
                            position: absolute;
                            top: $spacer / 4;
                            right: $spacer / 4;
                            padding: $spacer / 2;
                            margin: 0;
                            .icon {
                                &:first-of-type {
                                    margin: 0;
                                }
                            }
                        }
                        .dash-icon {
                            width: 100%;
                            min-height: $spacer * 3;
                            img,
                            svg {
                                width: $font-size-base * 2;
                                height: auto;
                            }
                        }
                    }
                    .dash-text {
                        line-height: 1.1;
                    }
                }
            }
        }
    }
}

svg.activityicon {
    @extend img.activityicon;
}

.section {
    .content {
        .course-summary {
            &:empty {
                display: none;
            }
        }
        .mod-indent-outer {
            display: flex;
            align-items: center;
            >div:not(.mod-indent) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-basis: 0%;
                flex-grow: 1;
                max-width: 100%;
                width: 100%;
            }
        }
        span.inplaceeditable {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .quickeditlink .icon {
                display: inline-block;
                height: auto;
                width: auto;
                font-size: $font-size-base;
                vertical-align: middle;
            }
        }
        li.activity {
            padding: 0;
            >div {
                padding-right: 0;
            }
            .actions {
                position: relative;
                right: auto;
                top: auto;
                margin-left: auto;
                padding-left: $spacer;
                .filler {
                    display: none;
                }
            }
            .editing & {
                .editing_move {
                    top: 20px;
                    transform: translateY(-50%);
                }
            }
            .activityinstance,
            .activityinstance div {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-basis: 0%;
                flex-grow: 1;
                max-width: 100%;
                width: 100%;
                padding: 0;
                .editing & {
                    padding: 0 $spacer 0 0;
                }
                a {
                    &:first-of-type {
                        display: inline-flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        text-indent: 0;
                        padding: 0 0 0 $spacer / 2;
                        background-color: #fff;
                        box-shadow: inset 0px 0px 0px 2px $brand-primary;
                        img,
                        svg {
                            &.activityicon {
                                width: 20px;
                                height: auto;
                                position: relative;
                                vertical-align: middle;
                                margin-right: $spacer / 2;
                            }
                        }
                    }
                    span.instancename {
                        background-color: $brand-primary;
                        padding: $spacer / 2 $spacer;
                        color: #fff;
                        * {
                            color: #fff;
                        }
                    }
                }
            }
            .resourcelinkdetails,
            .ouwikilmt {
                margin-left: auto;
            }
        }
        .availabilityinfo,
        .contentafterlink {
            width: 100%;
            margin-left: 0;
        }
        .contentafterlink {
            p {
                margin: 0 0 $spacer / 2 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

$culcourse-header-bg: $gray-lightest;
$culcourse-header-hover-bg: $gray-light;
$culcourse-header-active-bg: $brand-primary;
$culcourse-header-text-color: $body-color;
$culcourse-header-editing-color: $body-color;
$culcourse-content-bg: $gray-lightest;
$culcourse-arrow-color: $body-color;
$culcourse-arrow-hover-color: #fff;
$culcourse-arrow-active-color: #fff;

@keyframes grow {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#region-main .course-content {
    ul.culcourse {
        padding: 0;
        list-style: none;
        #section-0 {
            margin: 0;
            border: none;
            margin-bottom: 1rem;
            .left.side,
            .right.side {
                display: none;
            }
            .content {
                background-color: transparent;
                padding: 0;
                margin: 0;
                .img-text {
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    #toggle-all {
        .left.side,
        .right.side {
            display: none;
        }
        .content {
            margin: 0;
            h4 {
                border: 1px solid darken($body-bg, 5%);
                padding: 0;
                margin: 0;
                font-weight: normal;
            }
            #toggles-all-opened,
            #toggles-all-closed {
                position: relative;
                margin: 0;
                background-image: none;
                width: auto;
                display: inline-block;
                padding: 14px 25px 14px 50px;
                font-size: $font-size-h4;
                color: $body-color;
                &:hover,
                &:focus {
                    background-color: $culcourse-header-bg;
                }
                &:before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='#{$culcourse-arrow-color}' d='M11.05,7.25,4.45.55a.64.64,0,0,0-.6,0c-.2.1-.1.4,0,.6l6.4,6.4L3.85,14a.45.45,0,0,0,0,.5.37.37,0,0,0,.3.1.37.37,0,0,0,.3-.1l6.7-6.7a.35.35,0,0,0-.08-.49Z' /%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: 55% 50%;
                    background-size: 60%;
                    border-radius: 50%;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                }
            }
            #toggles-all-closed {
                &:before {
                    transform: translateY(-50%) rotate(0deg);
                }
            }
        }
    }
    #topcoll-display-instructions {
        >.side {
            display: none;
        }
        >.content {
            margin: 0;
        }
    }
    #toggle-all,
    #topcoll-display-instructions {
        margin: 0 0 1rem 0;
    }
    ul.culcourse {
        padding-top: 1px;
        clear: both;
        >li.section {
            border: none;
            margin-bottom: .75rem;
            position: relative;
            .content {
                background-color: $culcourse-content-bg;
                padding: 0;
                backface-visibility: hidden;
                margin: 0;
                .sectionhead {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    border-radius: 0;
                    background-color: $culcourse-header-active-bg;
                    background-image: none;
                    min-height: auto;
                    &.toggle {
                        position: relative;
                        margin: 0;
                        padding: .75rem .75rem .75rem 3.5rem;
                        &:hover {
                            background-color: $culcourse-header-active-bg;
                        }
                        h3 {
                            margin: 0;
                            background: none;
                            padding: 0;
                            font-size: $font-size-h4;
                            color: #fff;
                            a {
                                display: flex;
                                align-items: center;
                                color: #fff;
                                span {
                                    color: #fff;
                                    .icon {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            left: 1.2rem;
                            top: 50%;
                            width: 26px;
                            height: 26px;
                            margin-top: -13px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='#{$culcourse-arrow-active-color}' d='M11.05,7.25,4.45.55a.64.64,0,0,0-.6,0c-.2.1-.1.4,0,.6l6.4,6.4L3.85,14a.45.45,0,0,0,0,.5.37.37,0,0,0,.3.1.37.37,0,0,0,.3-.1l6.7-6.7a.35.35,0,0,0-.08-.49Z' /%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-position: 55% 50%;
                            background-size: 60%;
                            transform: rotate(90deg);
                            transition: transform .3s linear;
                            display: inline-block;
                            font-family: 'Glyphicons';
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-size: 25px;
                            line-height: 25px;
                            color: #fff;
                        }
                        &.collapsed {
                            background-color: $culcourse-header-bg;
                            &:hover,
                            &:focus {
                                background-color: $culcourse-header-hover-bg;
                                &:before {
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='#{$culcourse-arrow-active-color}' d='M11.05,7.25,4.45.55a.64.64,0,0,0-.6,0c-.2.1-.1.4,0,.6l6.4,6.4L3.85,14a.45.45,0,0,0,0,.5.37.37,0,0,0,.3.1.37.37,0,0,0,.3-.1l6.7-6.7a.35.35,0,0,0-.08-.49Z' /%3E%3C/svg%3E");
                                }
                                h3 {
                                    color: #fff;
                                    a {
                                        color: #fff;
                                        span {
                                            color: #fff;
                                            .icon {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                                .summary {
                                    color: #fff;
                                }
                                .section-summary-activities {
                                    .activity-count {
                                        color: #fff;
                                    }
                                }
                                .section-summary-progress {
                                    color: #fff;
                                    .activity-count {
                                        color: #fff;
                                    }
                                }
                                body.format-culcourse .course-content ul.culcourse li.section .content .sectionhead .section-summary-progress .activity-count,
                                body.format-culcourse .course-content ul.culcourse li#toggle-all .content .sectionhead .section-summary-progress .activity-count {
                                    color: #fff;
                                }
                            }
                            &:before {
                                transform: rotate(0deg);
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='#{$culcourse-arrow-color}' d='M11.05,7.25,4.45.55a.64.64,0,0,0-.6,0c-.2.1-.1.4,0,.6l6.4,6.4L3.85,14a.45.45,0,0,0,0,.5.37.37,0,0,0,.3.1.37.37,0,0,0,.3-.1l6.7-6.7a.35.35,0,0,0-.08-.49Z' /%3E%3C/svg%3E");
                            }
                            h3 {
                                font-size: $font-size-h4;
                                color: $culcourse-header-text-color;
                                a {
                                    color: $culcourse-header-editing-color;
                                    span {
                                        color: $culcourse-header-editing-color;
                                        .icon {
                                            color: $culcourse-header-editing-color;
                                        }
                                    }
                                }
                            }
                            .summary {
                                color: $body-color;
                                .truncate {
                                    height: auto;
                                    >div>* {
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                            .section-summary-activities {
                                .activity-count {
                                    color: $body-color;
                                }
                            }
                            .section-summary-progress {
                                color: $body-color;
                                font-size: $small-font-size;
                                .activity-count {
                                    color: $body-color;
                                }
                            }
                        }
                        .summary {
                            order: 1;
                            width: 100%;
                            padding: 0;
                            margin: 0;
                            color: #fff;
                            margin-top: $spacer /2;
                            .no-overflow {
                                margin: 0;
                                min-height: 0;
                            }
                        }
                        .section-summary-activities {
                            position: relative;
                            right: auto;
                            bottom: auto;
                            margin: 0 0 0 $spacer;
                            .activity-count {
                                color: #fff;
                                &+.activity-count {
                                    margin-left: $spacer / 2;
                                }
                            }
                        }
                        .section-summary-progress {
                            width: 100%;
                            position: relative;
                            padding: 0;
                            margin: 0;
                            left: 0;
                            color: #fff;
                            .activity-count {
                                color: #fff;
                            }
                        }
                        .section_availability {
                            margin: 0 0 0 auto;
                            padding: 0;
                        }
                    }
                }
                .sectionbody {
                    margin: 0;
                    animation: .5s grow;
                    background-color: $culcourse-content-bg;
                    .section,
                    .summary {
                        margin: 0;
                        padding: $spacer;
                        &:empty {
                            display: none;
                        }
                    }
                }
                ul {
                    li.activity {
                        margin: $spacer / 2 0;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
                span.instancename {
                    font-size: $font-size-base;
                    background-color: $brand-primary;
                    padding: $spacer / 2 $spacer;
                    color: #fff;
                    * {
                        color: #fff;
                    }
                }
            }
            .add_section {
                margin-top: .5rem;
                margin-bottom: 1rem;
            }
            &.orphaned {
                .content {
                    padding: 25px;
                }
            }
        }
    }
}

.cul-important {
    @extend .tag;
    @extend .tag-danger;
    margin: 0 $spacer/4 $spacer/4 0;
}

.cul-generic {
    @extend .tag;
    @extend .tag-info;
    margin: 0 $spacer/4 $spacer/4 0;
}

.fixed-anchor {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 1px;
}

.fixed-buttons {
    position: absolute;
    top: 85px;
    right: 0;
    &.stick {
        position: fixed;
        z-index: 2;
    }
    .fixed-btn {
        width: 50px;
        height: 50px;
        &+.fixed-btn {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
    .favourite-btn {
        a {
            &:before {
                @include fa-icon();
                content: "\f006";
            }
            &.favourited {
                &:before {
                    content: "\f005";
                    color: gold;
                }
            }
        }
    }
}

// Show/Hide Blocks
.toggleblocks-btn {
    cursor: pointer;
    .fa-angle-double-left {
        display: none;
    }
}

.hiddenblocks {
    .toggleblocks-btn {
        .fa-angle-double-left {
            display: block;
        }
        .fa-angle-double-right {
            display: none;
        }
    }
    #block-region-side-post {
        display: none;
    }
    #region-main {
        flex: 0 0 100%;
        max-width: 100%;
    }
}