// Slider 
.slidercontainer {
    position: relative;
    .slider {
        width: 100%;
        min-height: 430px;
        height: auto;
        overflow: hidden;
        @include media-breakpoint-up(md) {
            height: 430px;
        }
        .slick-list {
            height: auto;
            .slick-track {
                display: flex;
                flex-wrap: nowrap;
                align-items: stretch;
            }
        }
        .slide {
            position: relative;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            float: none;
            height: auto;
            padding-bottom: calc(#{$spacer * 3} + 40px);
            &:not(.slick-slide) {
                min-width: 100%;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($black, .5);
            }
            .slide-caption {
                position: relative;
                width: 100%;
                @include media-breakpoint-up(md) {
                    width: 585px;
                }
                h3,
                h4,
                h5,
                h6 {
                    color: #fff;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                h3 {
                    font-size: $h1-font-size;
                    font-weight: $font-weight-medium;
                }
                h4 {
                    font-size: $h3-font-size;
                    font-weight: $font-weight-light;
                }
                h5 {
                    font-size: $h4-font-size;
                    font-weight: $font-weight-light;
                }
            }
        }
    }
    .slide-controls {
        position: absolute;
        bottom: $spacer * 3;
        left: 0;
        width: 100%;
    }
    .pauseslider {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        font-size: 20px;
        z-index: 1;
        cursor: pointer;
        background-color: $primary;
        .pause-button,
        .play-button {
            width: auto;
            color: #fff;
            display: none;
        }
        .pause-button {
            display: block;
        }
    }
}

// progress bar
.slider-progress {
    width: 100%;
    height: 5px;
    background-color: $gray-lightest;
    .progress {
        width: 0%;
        height: 5px;
        background: $primary;
        margin: 0;
    }
}

.recentcourses-wrap {
    .recentmodules-item {
        &.featured {
            .course-image {
                width: 100%;
                height: 210px;
            }
        }
        &.list {
            border-bottom: 1px solid $gray-lighter;
            &:last-of-type {
                border-bottom: none;
            }
        }
        .course-image {
            width: 100px;
            height: 100px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            .badge {
                background-color: $gray-lightest;
                color: $primary;
                border-radius: 0;
            }
        }
    }
}

#page-my-index .block .block-inner .block-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}

#block-region-dash-content,
#block-region-dash-side {
    align-content: flex-start;
}

#page-my-index {
    .dashboard-card-deck {        
        @media (min-width: 1200px) {
            .dashboard-card {
                width: calc(33.33% - #{$card-gutter});
            }
        }
        @media (min-width: 1470px) {
            .dashboard-card {
                width: calc(33.33% - #{$card-gutter});
            }
        }
    }
}