form {
    margin-bottom: 0;
    .formsettingheading {
        margin-bottom: $spacer;
    }
    &#adminsettings {
        .editor_atto {
            h3 {
                border: none;
                line-height: $headings-line-height;
                font-size: $font-size-h3;
                width: auto;
            }
        }
    }
    .form-autocomplete-selection+input.form-control {
        padding-right: $spacer * 2;
        min-width: 260px;
    }
    .form-autocomplete-downarrow {
        top: .1rem;
    }
}