.message.clickable.bg-secondary {
	background-color: $white !important;
}

@media (min-width: 980px) {
	.message-drawer {
	    height: calc(100% - 230px);
	    top: 230px;
	    z-index: 1;
	}
}

.message-app .body-container {
    min-height: 400px
}

[data-region=right-hand-drawer].drawer {
	top: 140px;
	height: calc(100% - 140px);
};