body.format-culcollapsed {
    .course-content {
        .dash-panel {
            margin-bottom: 1rem;
            // > div.panel-header {
            //     border: none;
            //     padding: 0 4px 0 4px;
            //     margin-bottom: 1rem;
            //     font-weight: 500;
            // }
            .linkscontainer ul.links {
                margin: 0;
                padding: 2px;
                list-style: none;
                li {                    
                    display: block;
                    float: left;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    border: none;
                    span.dash-link {
                        position: relative;
                        display: block;
                        height: 2.5rem;                       
                        margin: 3px;
                        border: 1px solid $midgrey;
                        overflow: hidden;                        
                        a {
                            display: inline-block;
                            line-height: 2.5rem;
                            border-bottom: medium none !important;
                            i {
                                width: 100%;
                                margin: 0 auto;
                                color: $white;
                                text-align: center;                                                            
                            }
                            .fa-stack {
                                width: 100%;
                                font-size: 0.7rem;
                                .fa {
                                    &.fa-stack-2x {
                                        color: $midgrey;
                                    }
                                    &.fa-stack-1x {
                                    } 
                                }
                                
                            }
                            img.iconsmall {
                                width: 1rem;
                                height: 1rem;
                                padding: 0 0.75rem;
                                margin: 0 auto;
                            }
                            /** 'disabled'/unavailable links **/
                            &.nolink,
                            &:hover.nolink,
                            &:visited.nolink {
                                text-decoration: none !important;
                                color: $midgrey !important;
                                cursor: default;
                            }
                            &.quicklinkedit{
                                position: absolute;
                                right: 0;
                                i {
                                    margin-top: 7px;
                                    color: inherit;
                                    &:hover {
                                        color: inherit;
                                    }

                                }
                            }
                            &.dash-icon {
                                height: 100%;
                                width: 2.5rem;
                                vertical-align: top;
                                border-right: none; // border-right: 1px solid $midgrey;
                            }
                            &.dash-text {
                                display: none;
                            }
                            &.dash-edit {
                                display: none;
                                width: 2.5rem;
                            }
                        }                       
                        &.linkhidden {
                            border: 1px dashed $nearlyblack;
                            opacity: 0.7;
                        }                   
                    }
                }
            }
        }
    }
}

body.format-culcollapsed.editing {
    .course-content {
        .dash-panel {
            .linkscontainer ul.links {
                li {                    
                    span.dash-link {
                        a {
                            i {
                            }
                            img.iconsmall {
                            }
                            /** 'disabled'/unavailable links **/
                            &.nolink,
                            &:hover.nolink,
                            &:visited.nolink {
                            }
                            &.quicklinkedit{
                                i {
                                    &:hover {
                                    }
                                }
                            }
                            &.dash-icon {
                            }
                            &.dash-text { 
                            }
                            &.dash-edit {
                                display: inline-block;

                            }
                        }                       
                        &.linkhidden {
                        }                   
                    }
                }
            }
        }
    }
}

body.format-culcollapsed.jsenabled {
    .course-content {
        ul.ctopics {
            li.section {
                .content {
                    .toggle-arrow a.toggle_open { /* JavaScript enabled */
                        background-image: url(@expanded);
                    }
                    .toggle-arrow a.toggle_closed { /* JavaScript enabled */
                        background-image: url(@collapsed);
                    }
                    .toggledsection {
                        display: none; /* If JavaScript is enabled then this css will apply and the section will be hidden. */
                    }
                    .toggledsection.sectionopen {
                        display: block;
                    }
                }
            }
            li#toggle-all { /* .tcsection ? */
                background: none repeat scroll 0 0 transparent;
                display: block;
                .content h4 {
                    font-size: 1.4em;
                    a {
                        background-position: left;
                    }
                }
            }
        }
    }
}

/* css for photoboard */
.path-format-ctopics-photos {
    table.controls td {
        padding: 0;
    }
    .rolesform {
        margin-bottom: 1em;
    }
    .searchform {
        clear: both;
    }
    table.userinfobox {
        margin-bottom: 1em;
        th,
        td {
            padding: 0px;
            text-align: left;
            .username {
                padding-bottom: 5px;
            }
        }
        td.links {
            width: 150px;
            vertical-align: top;
            font-size: 0.9em;
        }
    }
    .gallerycontainer {
        float: left;
    }
    .galleryItem {
        float: left;
        width: 130px;
        height: 150px;
        overflow: hidden;
        margin: 0px 10px 10px 0px;
        strong {
            font-size: 95%;
        }
        img {
            height: 100px;
            width: 100px;
            // .border-radius(@baseBorderRadius*1.5);
        }
    }
}

@media (min-width: 480px) {
    body.format-culcollapsed {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 50%;
                    max-width: none;
                    span.dash-link {
                        a {
                            &.dash-icon {
                                border-right: 1px solid $midgrey;
                            }
                            &.dash-text {
                                display: inline-block;
                                width: calc(100% - 3rem);
                                text-overflow: ellipsis;
                                /* Required for text-overflow to do anything */
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
        &.editing {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        span.dash-link {
                            a {
                                &.dash-edit {
                                    display: inline-block;
                                }
                                &.dash-text {
                                    display: inline-block;
                                    width: calc(100% - 6rem);
                                    text-overflow: ellipsis;
                                    /* Required for text-overflow to do anything */
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 980px) {
    body.format-culcollapsed {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 33.33%;
                    max-width: none;
                    span.dash-link {
                        a {
                            &.dash-icon {
                            }
                            &.dash-text {
                            }
                            &.dash-edit {
                            }
                        }
                    }
                }
            }
        }
        &.used-region-side-pre.used-region-side-post {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        width: 50%;
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body.format-culcollapsed {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 25%;
                    max-width: none;
                }
            }
        }
        &.used-region-side-pre.used-region-side-post {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        width: 33.33%;
                        max-width: none;
                    }
                }
            }
        }
    }
}
