.block_culcourse_dashboard {
    margin: 0 0 12px 0 !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    min-width: 150px;
}

.block_culcourse_dashboard .content {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.block_culcourse_dashboard .dash-panel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 1px solid #c7ccd6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 0 3px 0;
    padding: 2px;    
}

.block_culcourse_dashboard .dash-panel > div.panel-header {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2e2e30;
    background-color: #e5e3e3;
    padding: 0 4px 0 4px;
    margin-bottom: 2px;
    font-weight: 500;
}

.block_culcourse_dashboard .module-summary > div.panel-content {
    padding: 2px !important;
    margin:  2px !important;
}

.block_culcourse_dashboard .activity_info {
    margin: 3px 0;
    width: 100%;
}

.block_culcourse_dashboard .tabcontent {
    font-size: 0.9em;
}

#region-pre .block_culcourse_dashboard .tabcontent,
#region-post .block_culcourse_dashboard .tabcontent {
    font-size: 0.8em;
}

.block_culcourse_dashboard .linkscontainer ul {
    margin: 0;
    padding: 2px;
    list-style: none;
}

.block_culcourse_dashboard .links li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    float: left;
    text-align: left;
    padding: 1px 3px;
    margin: 0.3%;
    /*max-width: 19.2em;*/
    min-width: 15.65em;
    max-width: 18em;
    width: 24.4%;
    min-height: 2em;
    border: 1px solid #c7ccd6;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #fff;
}

.block_culcourse_dashboard .links li.wide {
    /*min-width: 19.6em;*/
}

#block-region-side-post .block_culcourse_dashboard .links li,
#block-region-side-pre .block_culcourse_dashboard .links li {
    width: 100%;
    max-width: 100%;
    margin: 0.2em 0;
}

.block_culcourse_dashboard a {
    border-bottom: medium none !important;
    color: #B02A1A;
}

/** 'disabled'/unavailable links **/
.block_culcourse_dashboard a.nolink,
.block_culcourse_dashboard a:hover.nolink,
.block_culcourse_dashboard a:visited.nolink {
    text-decoration: none !important;
    color: #888 !important;
    cursor: default;
}

.block_culcourse_dashboard ul.showless {
    display: inline;
    list-style: none;
    margin: 2px;
}

.block_culcourse_dashboard ul.showless li {
    display: inline;
}

.block_culcourse_dashboard ul.showless li:after {
    content: ', ';
}
.block_culcourse_dashboard ul.showless li:first-child:after,
.block_culcourse_dashboard ul.showless li:last-child:after {
    content: '';
}

.block_culcourse_dashboard ul.showless li.moreteachers {
    display: none;
}

.block_culcourse_dashboard .moreteacherslink {
    display: none;
    text-wrap: normal;
}

#region-pre .block_culcourse_dashboard .dash-panel,
#region-pre .block_culcourse_dashboard .activity_info,
#region-post .block_culcourse_dashboard .dash-panel,
#region-post .block_culcourse_dashboard .activity_info {
    width: 98%;
}

#region-pre .block_culcourse_dashboard .nav-tabs li > a,
#region-post .block_culcourse_dashboard .nav-tabs li > a {
    font-size: 0;
}

#region-pre .block_culcourse_dashboard .nav-tabs img.icon,
#region-post .block_culcourse_dashboard .nav-tabs img.icon {
    margin: 4px 0 0 5px;
}


@media (max-width: 480px) {

    .block_culcourse_dashboard .nav-tabs li > a {
        font-size: 0;
    }

    .block_culcourse_dashboard .nav-tabs img.icon {
        margin: 4px 0 0 5px;
    }
}

@media (max-width: 768px) {
    .block_culcourse_dashboard .links li,
    .block_culcourse_dashboard .links li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 49.4%;
        max-width: none;
    }
}


/* css for photoboard */
.container {
    width: 100%;
    margin: 20px 0 0 0;
    //overflow: hidden;
}

.galleryItem {
    color: #797478;
    //font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
    width: 130px;
    margin: 0px 10px 10px 0px;
}

.galleryItem strong {
    // text-transform: uppercase;
    font-size: 95%;
}

.galleryItem img {
    height: 100px;
    width: 100px;
    //max-width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

body.path-block-cul_dashboard-photos table.userinfobox th,
body.path-block-cul_dashboard-photos table.userinfobox td {
  padding: 0px;
  text-align: left;
}