body.format-culcourse {
    .course-content {
        .dash-panel {
            margin-bottom: 1rem;
            // > div.panel-header {
            //     border: none;
            //     padding: 0 4px 0 4px;
            //     margin-bottom: 1rem;
            //     font-weight: 500;
            // }
            .linkscontainer ul.links {
                margin: 0;
                padding: 2px;
                list-style: none;
                li {
                    position: relative;                  
                    display: block;
                    float: left;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    border: none;
                    .dash-move{
                        position: absolute;
                        left: 0;
                        i {
                            margin-top: 7px;
                            margin-left: 0;
                            color: $nearlyblack;
                            &:hover {
                                color: $nearlyblack;
                            }

                        }
                    }
                    span.dash-link {
                        position: relative;
                        display: block;
                        height: 2.5rem;                       
                        margin: 3px;                        
                        border: 1px solid $midgrey;
                        overflow: hidden;                        
                        a {
                            display: inline-block;
                            line-height: 2.5rem;
                            border-bottom: medium none !important;                            
                            i {
                                width: 100%;
                                color: $white;
                                text-align: center;                                                            
                            }
                            .fa-stack {
                                width: 100%;
                                font-size: 0.7rem;
                                text-align: center;
                                .fa {                                    
                                    &.fa-stack-2x {
                                        color: $midgrey;
                                    }
                                    &.fa-stack-1x {
                                    } 
                                }
                                
                            }
                            img.iconsmall {
                                width: 1rem;
                                height: 1rem;
                                padding: 0 0.75rem;
                                margin: 0 auto;
                            }
                            /** 'disabled'/unavailable links **/
                            &.nolink,
                            &:hover.nolink,
                            &:visited.nolink {
                                text-decoration: none !important;
                                color: $midgrey !important;
                                cursor: default;
                            }
                            &.dashlinkedit{
                                position: absolute;
                                right: 0;
                                i {
                                    margin-top: 7px;
                                    margin-right: 0.3rem;
                                    color: inherit;
                                    &:hover {
                                        color: inherit;
                                    }

                                }
                            }
                            &.dash-icon {
                                height: 100%;
                                width: 2.5rem;
                                vertical-align: top;
                                border-right: none; // border-right: 1px solid $midgrey;
                                background: $black;
                            }
                            &.dash-text {
                                display: none;
                            }
                            &.dash-edit {
                                display: none;
                            }
                        }                       
                        &.linkhidden {
                            border: 1px dashed $nearlyblack;
                            opacity: 0.7;
                        }                   
                    }
                }
            }
        }
    }
}

body.format-culcourse.editing {
    .course-content {
        .dash-panel {
            .linkscontainer ul.links {
                li {
                    margin: 1rem;                  
                    span.dash-link {
                        margin-left: 1.2rem;
                        a {
                            i {
                            }
                            img.iconsmall {
                            }
                            /** 'disabled'/unavailable links **/
                            &.nolink,
                            &:hover.nolink,
                            &:visited.nolink {
                            }
                            &.dashlinkedit{
                                i {
                                    &:hover {
                                    }
                                }
                            }
                            &.dash-icon {
                            }
                            &.dash-text { 
                            }
                            &.dash-edit {
                                display: inline-block;

                            }
                        }                       
                        &.linkhidden {
                        }                   
                    }
                }
                li.movehere img.movetarget {
                    height: 16px;
                    width: 80px;
                }
            }
        }
    }
}

// body.format-culcourse.jsenabled {
//     .course-content {
//         ul.culcourse {
//             li.section {
//                 .content {
//                     .sectionhead.toggle a.toggle_open { /* JavaScript enabled */
//                         // background-image: url(@expanded);
//                     }
//                     .sectionhead.toggle a.toggle_closed { /* JavaScript enabled */
//                         // background-image: url(@collapsed);
//                     }
//                 }
//             }
//             li#toggle-all { /* .tcsection ? */
//                 background: none repeat scroll 0 0 transparent;
//                 display: block;
//                 .content h4 {
//                     font-size: 1.4em;
//                     a {
//                         background-position: left;
//                     }
//                 }
//             }
//         }
//     }
// }

/* css for photoboard */
.path-format-culcourse-photos {
    .cul-modelist {
        border-bottom: 1px solid #ddd;
    }
    .cul-modelist {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .mode-item {
        float: left;
        margin-bottom: -1px;
    }
    .mode-link {
        display: block;
        padding: .5em 1em;
        border: 1px solid transparent;
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
    }
    .mode-link.active, 
    .mode-item.open .mode-link, 
    .mode-link.active:focus, 
    .mode-item.open .mode-link:focus, 
    .mode-link.active:hover, 
    .mode-item.open .mode-link:hover {
        color: #55595c;
        background-color: #f4f4f4;
        border-color: #ddd #ddd transparent;
    }
    .userlist {
        li {
            display: inline-block;
            list-style: none;
            &.card {
                display: block;
                margin-bottom: 0.75rem;
            }
            .card-img {
                float: left;
                width: 25%;
                .card-img-top {
                    width: auto;
                }               
            }
            .card-body {
                float: left;
                width: 50%;
                padding: 0;
            }
            .card-footer {
                float: right;
                width: 25%;
                background: none;
                border: none;
            }
            .userpicture {
                border-radius: 0;
            }
        }
    }
    .briefuser {
        li {
            &.card {
                flex: 0 0 auto;
                max-width: 150px;
                border: none;
                a {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                .card-img-top {
                    max-width: 100px;
                    height: auto;
                }
            }
        }
    }
       
}

@media (min-width: 480px) {
    body.format-culcourse {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 50%;
                    max-width: none;
                    span.dash-link {
                        a {
                            &.dash-icon {
                                border-right: 1px solid $midgrey;
                            }
                            &.dash-text {
                                display: inline-block;
                                width: calc(100% - 3rem);
                                text-overflow: ellipsis;
                                /* Required for text-overflow to do anything */
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
        &.editing {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        span.dash-link {
                            a {
                                &.dash-edit {
                                    display: inline-block;
                                }
                                &.dash-text {
                                    display: inline-block;
                                    width: calc(100% - 6rem);
                                    text-overflow: ellipsis;
                                    /* Required for text-overflow to do anything */
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 980px) {
    body.format-culcourse {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 33.33%;
                    max-width: none;
                    span.dash-link {
                        a {
                            &.dash-icon {
                            }
                            &.dash-text {
                            }
                            &.dash-edit {
                            }
                        }
                    }
                }
            }
        }
        &.used-region-side-pre.used-region-side-post {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        width: 50%;
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body.format-culcourse {
        .course-content {
            .dash-panel {
                .linkscontainer ul.links li {
                    width: 25%;
                    max-width: none;
                }
            }
        }
        &.used-region-side-pre.used-region-side-post {
            .course-content {
                .dash-panel {
                    .linkscontainer ul.links li {
                        width: 33.33%;
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .card-deck.briefuser .card {
        width: calc(100%);        
    }
}

@media (min-width: 840px) {
    .card-deck.briefuser .card {
        width: calc(50% - 2rem);
    }
}

@media (min-width: 1100px) {
    .card-deck.briefuser .card {
        width: calc(33.33% - 2rem);
    }
}

@media print {
    .format-culcourse.path-format-culcourse-photos {
        nav,
        header,
        form,
        h3,
        .nav,
        .initialbar,
        #showall,
        .right-navbar-wrap,
        .overlay,
        #page-footer {
            display: none !important;
        }
    }
}

