a#snap-home {
  display: none;
}

/**
 * Mod book.
 */
.path-mod-book {
  .card-block {
    padding: 0;
  }
}

/**
 * Mod assignment page.
 */

#page-mod-assign-view {
    // On larger screen display assignment info and meta as a grid.
    @include media-breakpoint-up(md) {
        .assign-intro {
            @include make-col(8);
            float: left;
        }
        .assign-grading-summary {
            @include make-col(4);
        }
    }
}
