{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_synergybase/coursebox
}}

{{#featured}}
    <div class="recentmodules-item featured col-12 col-md-6 py-3">
        <div class="recentmodules-item-inner m-0">
            
            <div class="course-image bg-primary p-2 text-right mb-3" {{#hasimage}}style="background-image: url('{{image}}')"{{/hasimage}}>
                <a class="d-block w-100 h-100" href="{{url}}"><div class="badge badge-info">{{lastaccess}}</div></a>
            </div>

            <div class="course-content d-flex flex-wrap flex-column">
                <div class="course-cat small font-weight-bold text-primary mb-1">{{category}}</div>
                <a href="{{url}}"><h4 class="course-name font-weight-medium mb-0">{{name}}</h4></a>
                {{#summary}}
                <div class="course-desc mt-2">{{{summary}}}</div>
                {{/summary}}
            </div>

        </div>
    </div>
{{/featured}}

{{^featured}}
<div class="recentmodules-item list d-flex flex-wrap align-items-center pb-3 mb-3">
    
    <div class="course-image bg-primary p-2 text-right mr-3" {{#hasimage}}style="background-image: url('{{image}}')"{{/hasimage}}>
        <a class="d-block w-100 h-100" href="{{url}}"><div class="badge badge-info">{{lastaccess}}</div></a>
    </div>

    <div class="col">
        <div class="course-cat small font-weight-bold text-primary mb-1">{{category}}</div>
        <a href="{{url}}"><h4 class="course-name font-weight-medium mb-0">{{name}}</h4></a>
    </div>

</div>
{{/featured}}