{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_othm/slide
}}
<div class="slide d-flex flex-wrap align-items-center justify-content-center col pt-3 pt-sm-5 px-0 px-sm-5 px-md-0 text-left" style="background-image: url('{{image}}')" data-number="{{number}}">
    
    {{#hasurl}}
    <a class="col align-items-center justify-content-stretch" href="{{url}}">
    {{/hasurl}}

    <div class="container-fluid">
        <div class="slide-caption bg-primary p-4 text-white" data-slide="{{number}}">
            {{#hascaption}}
                <div class="caption-wrap">
                    {{{caption}}}
                </div>
            {{/hascaption}}
        </div>
    </div>

    {{#hasurl}}
    </a>
    {{/hasurl}}

</div>