
<ul class="nav nav-tabs" role="tablist">
{{# modes}}
    <li class="nav-item">
    	{{# active}}
        
	        <a class="nav-link active" href="{{link}}" data-toggle="tab" role="tab">
	        {{title}}</a>

        {{/ active}}
        {{^ active}}

	        <a class="nav-link" href="{{link}}" data-toggle="tab" role="tab">
	        {{title}}</a>
            
        {{/ active}}
    </li>
{{/ modes}}
</ul>


{{{unifiedfilter}}}
{{{initialbar}}}
{{{pagingbar}}}

<div class="tab-content">
    <div class="tab-pane active" id="detailed" role="tabpanel" aria-expanded="true">
        <ul class="userlist">
        {{# users}}
            {{> format_cul/detaileduser}}
        {{/ users}}
        </ul>
    </div>
    <div class="tab-pane" id="brief" role="tabpanel" aria-expanded="true">
        <ul class="userlist">
        {{# users}}
            {{> format_cul/briefuser}}
        {{/ users}}
        </ul>
    </div>
</div>