{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_culcourse_listing/coursebox

    CUL Course Listing Course Box template.

    The purpose of this template is to render ...

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 
        * 
        * 
        * 
        * 

    Example context (json):
    {
        "": {
            "": "",
            "": "",
            "": "!",
            "": 
        }
    }

}}

<div class="culcoursebox clearfix panel panel-default collapsed yui3-dd-drop yui3-dd-draggable" data-courseid="{{cid}}" data-type="1" data-year="{{year}}" data-period="{{period}}" id="{{id}}">
    <div class=" info panel-heading">
        <div class="coursename_wrapper">
            {{# move }}
                {{> block_culcourse_listing/move }}
            {{/ move }}
            <div class="coursename">
                <a title="{{coursename}}" href="/course/view.php?id={{cid}}">{{coursename}}</a>
            </div>
        </div>
        <div class="moreinfo">
            <!-- if content exists -->
            {{# ismoreinfo }}
                {{> block_culcourse_listing/moreinfo }}
            {{/ ismoreinfo }}
        </div>
        <a class=" favouritelink favouritelink_{{cid}}" title="{{favtitle}}" href="/blocks/culcourse_listing/favourite_post.php?action={{action}}&cid={{cid}}&sesskey={{sesskey}}">
            <i class="{{favclass}}"></i>
        </a>

        <div class="enrolmenticons">
            {{# enrolmenticons }}
                {{# pix }} {{icon}}, {{component}}, {{attributes.alt}} {{/ pix }}
            {{/ enrolmenticons }}            
        </div>
        
    </div>
    <div class="content panel-body">
        <!-- if content exists -->
        {{# ismoreinfo }}
            {{> block_culcourse_listing/info }}
        {{/ ismoreinfo }}
    </div>
</div>