

<div class="culcoursebox clearfix panel panel-default collapsed yui3-dd-drop yui3-dd-draggable" data-courseid="{{cid}}" data-type="1" data-year="{{year}}" data-period="{{period}}" id="{{id}}">
    <div class=" info panel-heading">
        <div class="coursename_wrapper">
            <div class="coursename">
                <a title="{{coursename}}" href="http://moodle2xgit.localhost/course/view.php?id={{cid}}">{{coursename}}</a>
            </div>
        </div>
        <div class="moreinfo">
            <!-- if content exists -->
            {{# ismoreinfo }}
                {{> block_culcourse_listing/moreinfo }}
            {{/ ismoreinfo }}
        </div>
        <a class=" favouritelink favouritelink_{{cid}}" title="{{# str }} favouriteaction, block_culcourse_listing, {{action}} {{/ str }}" href="http://moodle2xgit.localhost/blocks/culcourse_listing/favourite_post.php?action={{action}}&cid={{cid}}&sesskey={{sesskey}}">
            <i class="{{favclass}}"></i>
        </a>

        <div class="enrolmenticons">
            {{# enrolmenticons }}
                {{# pix }} {{pix}}, {{component}} {{/ pix }}
            {{/ enrolmenticons }}
        </div>
        
    </div>
    <div class="content panel-body">
        <!-- if content exists -->
        {{# ismoreinfo }}
            {{{info}}}
        {{/ ismoreinfo }}
    </div>
</div>