        <!-- if summary exists -->
        {{# summary }}            
            <div class="summary">
                <div class="no-overflow">{{{summary}}}</div>
            </div>
        {{/ summary }}
        <!-- if images exists -->
        {{# contentimages }} 
            <div class="courseimage">
                <img src={{{url}}}" class='courseimg'>
            </div>
        {{/ contentimages }}
        <!-- if files exists -->
        {{# contentfiles }} 
            <div class="coursefiles">                
                <span>
                    <a href="{{{url}}}" class="coursefile fp-filename-icon">
                        <span class="fp-icon">
                            {{# pix }} {{image}} {{filename}} moodle {{/ pix}}
                        </span>
                        <span class="fp-filename">
                            {{filename}}
                        </span>
                    </a>
                </span>           
            </div>
        {{/ contentfiles }}
        <!-- if teachers exists -->
        {{# iscontacts }} 
            <ul class="teachers">
                <!-- loop -->
                {{# contacts }}
                <li>{{role}} <a href="/user/view.php?id={{userid}}&course={{cid}}">{{username}}</a>
                </li>
                {{/ contacts }}
            </ul>
        {{/ iscontacts }}