        <ul class="teachers">
            <!-- Loop and string -->
            {{# isteachers }}
            	<li>lecturer: <a href="http://moodle2xgit.localhost/user/view.php?id={{userid}}&course={{cid}}">{{teachername}}</a></li>
        	{{/ isteachers }}
        </ul>