

            <a title="Summary" href="http://moodle2xgit.localhost/course/info.php?id={{cid}}" id="{{infolinkid}}">
                <img src="http://moodle2xgit.localhost/theme/image.php?theme=boost&component=core&image=i/info" alt="Summary" id="{{infoimgid}}">
            </a>