{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_culcourse_listing/move

    CUL Course Listing Course Box Move Icons template.

    The purpose of this template is to render ...

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * 
        * 
        * 
        * 
        * 

    Example context (json):
    {
        "": {
            "": "",
            "": "",
            "": "!",
            "": 
        }
    }

}}

<div class="moveicons">
    {{# move.moveup }}
    <a title="Move up" class="moveup" href="/blocks/culcourse_listing/move_post.php?sesskey={{sesskey}}&source={{cid}}&move=-1">
        {{# pix }} t/up, moodle {{/ pix }}
    </a>
    {{/ move.moveup }}
    {{^ move.moveup }}
    {{# pix }} spacer, moodle {{/ pix }}
    {{/ move.moveup }}
    {{# move.movedown }}
    <a title="Move down" class="movedown" href="/blocks/culcourse_listing/move_post.php?sesskey={{seskey}}&source={{cid}}&move=1">
        {{# pix }} t/down, moodle {{/ pix }}
    </a>
    {{/ move.movedown }}
    {{^ move.movedown }}
    {{# pix }} spacer, moodle {{/ pix }}
    {{/ move.movedown }}
</div>