{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_culcourse_dashboard/activity

    Individual activity link.

    Classes required for JS:
    * activitylink, activitylinkdraggable

    Data attributes required for JS:
    * data-setting, data-position

    Context variables required for this template:
    * see local/culcourse_dashboard/classes/output/dashboard.php

}}

{{#ismovingactivitylink}}
    {{> local_culcourse_dashboard/position}}
{{/ismovingactivitylink}}

<li 
    class="dash activitylink activitylinkdraggable flex-wrap align-items-stretch col-xs-6 col-sm-4 col-xl-3"
    data-setting="activitylinksequence"
    data-position="{{name}}"
    aria-labelledby="{{attrs.id}}"
>
    <span class="dash-link {{class}} w-100 h-100 d-flex flex-wrap align-items-stretch justify-content-stretch text-center">
        {{> local_culcourse_dashboard/movelink}}
        <a id="{{attrs.id}}" class="w-100 h-100 d-flex flex-wrap align-items-center justify-content-center p-2" href="{{{url}}}" target="{{attrs.target}}" title="{{attrs.title}}">
            <div class="dash-link-inner w-100 d-flex flex-wrap flex-column">
                <div class="dash-icon {{attrs.class}} d-flex flex-wrap align-items-center justify-content-center mb-2">
                    {{{icon}}}
                </div>
                <span class="dash-text {{attrs.class}} d-flex flex-wrap align-items-center justify-content-center">
                    {{text}}
                </span>
            </div>
        </a>
        {{> local_culcourse_dashboard/editlink}}
    </span>
</li>