{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_culcourse_dashboard/lastquicklinkposition

    Position at end of quicklink list for non JS link to move to.

    Classes required for JS:
    * Uses some bootstrap classes, but for visual appeal only.

    Data attributes required for JS:
    * data-region, data-first-userid, data-courseid, data-contextid, data-assignmentid

    Context variables required for this template:
    * see local/culcourse_dashboard/classes/output/dashboard.php

}}

<li class="movehere flex-wrap align-items-stretch col-xs-6 col-sm-4 col-xl-3">
    <a title="{{qmovetoattrs.title}}" href="{{{qmovetourl}}}">
        <img class="icon movetarget" alt="{{#str}} movehere {{/str}}" title="{{#str}} movehere {{/str}}" src="{{qmovetoicon}}">
    </a>
</li> 