<li>
    <span class="dash-link {{class}}">
        <a title="{{attrs.title}}" class="dash-icon {{attrs.class}}" href="{{url}}" target="{{attrs.target}}">
            {{{icon}}}
        </a>
        <a title="{{attrs.title}}" class="dash-text {{attrs.class}}" href="{{url}}" target="{{attrs.target}}">
            {{text}}
        </a>
        {{> format_culcourse/editlink}}
    </span>
</li>