<a title="{{editattrs.title}}" class="dash-edit {{editattrs.class}}" href="{{{editurl}}}">
    <i class="fa {{editicon}}"></i>
</a>

<div class="clipboard">
	{{# str}} moving, format_culcourse,  {{cancelactivitylink.name}} {{/ str}} (<a href="{{{cancelactivitylink.url}}}">{{# str}} cancel {{/ str}}</a>)
</div>