<li class="movehere">
    <a title="{{amovetoattrs.title}}" href="{{{amovetourl}}}">
        <img class="icon movetarget" alt="{{#str}} movehere {{/str}}" title="{{#str}} movehere {{/str}}" src="{{amovetoicon}}">
    </a>
</li> 