<li class="movehere">
    <a title="{{qmovetoattrs.title}}" href="{{{qmovetourl}}}">
        <img class="icon movetarget" alt="{{#str}} movehere {{/str}}" title="{{#str}} movehere {{/str}}" src="{{qmovetoicon}}">
    </a>
</li> 