<li class="movehere">
    <a title="{{movetoattrs.title}}" href="{{{movetourl}}}">
        <img class="icon movetarget" alt="{{#str}} movehere {{/str}}" title="{{#str}} movehere {{/str}}" src="{{movetoicon}}">
    </a>
</li> 