<li class="movehere">
    <a title="{{movetitle}}" href="{{{positionurl}}}">
        <img class="icon movetarget" alt="{{#str}} movehere {{/str}}" title="{{#str}} movehere {{/str}}" src="http://moodle2xgit.localhost/theme/image.php?theme=boost&amp;component=core&amp;image=movehere">
    </a>
</li> 